.containerProjects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cardProjects {
  width: 300px;
  height: 300px;
  perspective: 1000px; // important pour l'effet 3D
  margin: 20px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardProjects:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
  background-color: #272727;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
   pointer-events: auto; // ✅ Important pour que le clic fonctionne sur la face arrière
}

.cardFront {
  z-index: 2;
}

.cardBack {
  transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 2;
  pointer-events: auto; // ✅ Important
}
  a{
    text-decoration: none;
    color: #f2f2f2;
    margin-top: 15px;
    transition: color 0.3s ease;

    &:hover {
      color: #b97cf1;
    }
  }


.imgProjects {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.skillsList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  li {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: #f2f2f2;
  }
}
.cardProjects {
  cursor: pointer;
}

// .cardProjects.flipped .cardInner {
//   transform: rotateY(180deg);
// }

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: opacity 0.3s ease;
}

.flipButton {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: #b97cf1;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #a05cd8;
  }
}

@media (hover: hover) {
  .flipButton {
    display: none;
  }
  .cardProjects:hover .cardInner {
    transform: rotateY(180deg);
  }

}
@media (max-width: 1024px) {
  .containerProjects {
    justify-content: center;
  }

  .cardProjects {
    width: 90vw;
    height: 400px; // Hauteur fixe pour maintenir la 3D
    margin: 10px 0;
    cursor: auto;
  }

 .cardFront, .cardBack {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
}

  .cardBack {
    transform: rotateY(180deg);
  }

  .imgProjects {
    height: auto;
    max-height: 200px;
  }

  .skillsList {
    justify-content: center;

    li {
      font-size: 12px;
    }
  }
}

