
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #b97cf1;
  }
}
// @keyframes appear {
//   from {
//     opacity: 0;
//   } to {
//     opacity: 1;
//   }
// }
// @keyframes dissapear {
//   from {
//     border-color: #b97cf1;
//   } to {
//     border-color: transparent;
//   }
// }
// @keyframes bounce {
//   0%,
//   20%,
//   50%,
//   80%,
//   100% {
//     transform: translateY(0);
//   }
//   40% {
//     transform: translateY(-30px);
//   }
//   60% {
//     transform: translateY(-15px);
//   }
// }
// @keyframes scrollVertical {
//   0% {
//     transform: translateY(0);
//   }
//   100% {
//     transform: translateY(-50%);
//   }
// }
.hero{
  background-color: #520079;
  width: 100vw;
  height: 100vh;
  }
.containerTitle{
display: inline-block;
}

.h1hello{
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
  .typing-text {
  display: inline-block; 
  border-right: 5px solid #b97cf1;
  animation: blink-caret 1s step-end infinite;
  font-size: clamp(1.3rem, 5vw, 3rem);
  font-weight: 700;
  margin-top: 50px;
}

.heroDescription {
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
}
.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 90vh; 
  padding: 0 2rem;
}
.heroText {
  max-width: 70%;
}

.linkHero {
  margin-top: 20px;
  display: flex;
  gap: 2vw;
  justify-content: center;
  a{
      border: 2px solid #b97cf1;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease;
    &:hover {
      background-color: #b97cf1;
      color: #fff;
  }
}
}
.socialHero{
  margin-top: 5vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
}
.social-link { 
  margin: 0 30px;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  transition: color 0.3s ease;

  &:hover {
    color: #b97cf1; 
  }

  .icon {
    vertical-align: middle;
  }
}

@media (max-width: 1200px) {
  .heroContent {
    flex-direction: column;
    align-items: center;
    padding: 5rem 10%;
  }

  .heroText {
    max-width: 100%;
    text-align: center;
  }

  .heroDescription {
    width: 100%;
    font-size: 18px;
  }

  .heroSkills {
    width: 100%;
    margin-top: 2rem;
  }

  .skillSlider {

    gap: 0.5rem;

    img {
      width: 100%;
      height: auto;
      max-height: 150px;
    }
  }

  .heroTitle {
    font-size: clamp(2rem, 6vw, 3.5rem);
    margin-bottom: 1rem;
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
  }
}